{% extends 'base.html' %}

{% block content %}
    <section class="position-relative py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h1><strong>Log in</strong></h1>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5">
                        <div class="card-body d-flex flex-column align-items-center">
                            <form class="text-center" method="post" action="{% url 'user-login' %}">
                                {% csrf_token %}
                                {% if form.errors %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-warning" role="alert">{{ error }}</div>
                                    {% endfor %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-warning" role="alert">{{ error }}</div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                <div class="mb-3">{{ form.username }}</div>
                                <div class="mb-3">{{ form.password }}</div>
                                <div class="mb-3">
                                    <button class="btn btn-primary d-block w-100" type="submit">Login</button>
                                </div>
                                <p class="text-muted">Don't have an account? <a href="{% url 'user-signup' %}">Sign up</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}